@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@700&family=Yuji+Mai&display=swap');
*{
    padding: 0%;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --clr: rgb(90, 90, 90);
}
body{
    background: rgb(235, 235, 235);
    width: 100%;
    overflow-x: hidden;
}
header{
    width: 100%;
    top: 0;
}
nav{
    margin: auto;
    max-width: 90vw;
    padding: 10px;
}
.n-l{
    float: left;
}
.n-l p:first-child{
    font-size: 5vw;
    font-weight: bold;
}
.n-l p:last-child{
    margin-top: -4px;
    font-size: 3vw;
    color: var(--clr);
}
.n-r{
    float: right;
}
.n-r-img{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 1.5px solid var(--clr);
}
.s-b{
    width: 80%;
    margin-top: 30px;
    margin-left: 20vw;
}
#s-b-t{
    width: 80%;
    height: 10vw;
    padding-left: 10px;
    border-radius: 10px;
    border: 1.5px solid white;
    box-shadow: 0 0 40px 0px white;
}
#s-b-t:focus{
    border: none;
}
#s-b-t::-webkit-input-placeholder{
    text-align: center;
}
.s-b button{
    width: 10%;
    background: rgb(0, 89, 255);
    height: 9vw;
    color: white;
    position: absolute;
    margin: 2.9px 0 0 -10.5%;
    font-size: 2vw;
    border-radius: 8px;
    border-color: transparent;
}
.s-1{
    margin-top: 3vh;
    width: 100%;
}
.s-2-h,.s-1-h{
    width: 90%;
    height: 20px;
    margin: 10px auto;
}
.s-1-h{
    height: 10px;
}
.s-1-h p{
    font-size: 6vw;
    font-weight: 600;
    float: left;
}
.s-1-h a{
    float: right;
    font-weight: bold;
    font-size: 4vw;
    color: rgb(0, 3, 194);
    text-decoration: none;
}
.s-1:hover .s-1-pi::-webkit-scrollbar-thumb{
    visibility: visible;
}
.s-1-p{
    margin-top: 7vh;
}
.s-1-pi{
    height: auto;
    overflow: hidden;
    overflow-x: scroll;
    width: 100%;
}
.s-1-pi::-webkit-scrollbar{
    background: transparent;
    height: 5px;
}
.s-1-pi::-webkit-scrollbar-thumb{
    background: greenyellow;
    visibility: hidden;
    border-radius: 3px;
}
.s-1-pi::-webkit-scrollbar-corner{
    background: yellow;
}
.s-1-pip{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
}
.pp{
    background: url(https://image.shutterstock.com/image-illustration/white-headphone-on-isolated-background-260nw-1957470889.jpg);
    background-position: center;
    background-size: 100%;
    width: 40vw;
    transition: 1s;
    border-radius: 20px;
    height: 40vw;
    padding: 10px 20px;
    margin-left: 10px;
    box-shadow: 0 0 1px rgb(255, 255, 255);
}
.pp2{
    background: url(https://www.windowscentral.com/sites/wpcentral.com/files/styles/large/public/field/image/2021/09/surface-pro-8-se-crop-01.jpg);
    background-position: center;
    background-size: cover;
}
.pp3{
    background: url(https://m.media-amazon.com/images/I/61kwRNPtMpL._SL1500_.jpg);
    background-position: center;
    background-size: cover;
}
.pp4{
    background: url(https://m.media-amazon.com/images/I/51ow2RVO6OL._AC_UL480_FMwebp_QL65_.jpg);
    background-position: center;
    background-size: cover;
    color: whitesmoke;
}
.pp p:nth-child(2){
    color: var(--clr);
    font-size: 3.5vw;
    font-weight: bold;
}
.pp img{
    width: 40vw;
    height: 40vw;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
}
.pp p:nth-child(3) {
    margin-top: 10vw;
    font-weight: bold;
    font-size: 3vw;
}
.pp p:nth-child(4){
    font-size: 2.5vw;
    font-weight: bold;
    color: var(--clr);
}
.pp p:nth-child(5){
    color: var(--clr);
    font-size: 3vw;
}
.pp span{
    font-weight: bold;
    font-size: 5vw;
    color: rgb(0, 0, 185);
}
.pp a{
    float: right;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: .5vw solid black;
}
.pp4 p,.pp4 p:nth-child(2),.pp4 p:nth-child(4),.pp4 span{
    color: whitesmoke;
}
.s-1-pip-a{
    width: 2vw;
    border-radius: 30%;
    height: 2vw;
    transform: rotate(130deg);
    border: .5vw solid black;
    margin: 1.3vw 1vw;
    border-bottom: none;
    border-right: none;
}
.s-1-pip a:hover{
    background: black;
}
.s-1-pip a:hover .s-1-pip-a{
    border-color: white;
}
.s-1-pip-p{
    margin-top: 150%;
}
.pp p:nth-child(2){
    opacity: 1;
}
.pp p{
    opacity: 0;
    background: rgba(255, 255, 255, 0.281);
}
.pp:hover p{
    opacity: 1;
    transition: 1s;
}
.pp:hover .s-1-pip-p{
    margin-top: 0%;
    transition: .5s;
} 
.s-2{
    width: 100%;
}
.s-2-h p{
    float: left;
    font-size: 5vw;
    font-weight: bold;
}
.s-2-h a{
    float: right;
    font-weight: bold;
    font-size: 4vw;
    color: rgb(0, 3, 194);
    text-decoration: none;
}
.s-2-c{
    width: 100%;
}
.s-2-ct{
    width: fit-content;
    display: flex;
    padding-left: 10px;
}
.s-2-ct-c{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background: white;
    text-decoration: none;
    font-size: 5vw;
    font-weight: bolder;
    margin-left: 10px;
    padding: 4px;
    border-radius: 10px;
}
.s-2-ct-c img{
    width: 5vw;
}
.s-3{
    width: 100%;
    margin-top: 20px;
}
.s-3-h{
    width: 90%;
    margin: auto;
}
.s-3-h a{
    font-size: 5vw;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.s-3 p{
    margin: 10px;
}
#acc:checked + .acc{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    justify-content: center;
}
body:hover header nav .acc{
    display: none;
}
.acc{
    display: none;
    position: absolute;
    right: 10vw;
    top: 16vw;
    background-color: rgb(252, 252, 252);
    border-radius: 20px;
    box-shadow: 0 0 5px black;
    z-index: 1;
    height: auto;
    width: 30vw;
}
.acc  ul{
    list-style: none;
    font-size: 4vw;
}
.acc ul li{
    border-bottom: 1px solid black;
    margin: 10px;
}